<h1><%= @user.email %>のページ</h1>
<h2>投稿スレッド</h2>
<div class="container">
  <div class="posts">
    <% @user.posts.each do |post| %>
      <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
      <hr>
    <% end %>
    <P><%= link_to "ホームへ戻る", posts_path %></P>
  </div>
</div>