<h1>Forum App</h1>
<h2>パスワードを忘れた場合</h2>
<div class="container">
  <div class="center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="actions">
        <%= f.submit "パスワードのリセット手順を送信" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>