<h1>Forum App</h1>
<div class="header">
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
</div>

<h2>検索</h2>
<div class="header">
  <%= form_tag(root_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <p><%= submit_tag '検索', :name => nil %></p>
  <% end %>
</div>
<hr>
<h2>新規スレッド作成</h2>
<div class="container">
  <%= form_for @post do |f| %>
    <%= f.label "タイトル", class:'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
    <div class="post-tags-field">
      <%= f.label "カテゴリー", class:'control-label' %>
      <ul id="post-tags", class: 'form-control'></ul>
    </div>    
    <%= f.label "内容", class:'control-label' %>
    <%= f.text_area :body, class: 'form-control' %>
    <p><%= f.submit 'スレッド作成' %></p>
  <% end %>
</div>
<hr>
<h2>投稿スレッド一覧</h2>
<div class="container">
  <% if params[:search].present? %>
    <% @searched_posts.each do |post| %>
      <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
    <% end %>
  <% else %>
    <% @posts.each do |post| %>
      <h2>
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </h2>
    <% end %>
  <% end %>
  <P><%= link_to "ホームへ戻る", posts_path %></P>
</div>