<h1><%= @post.title %></h1>
<h5>
  スレッド投稿者：<a href="/users/<%= @post.user.id %>"><%= @post.user.email %></a>
</h5>
<h5>
  <div class="container">
    <% unless @post.categories.blank? %>
    含まれるカテゴリー：
        <% @post.categories.each do |category| %>
          <%= link_to category.name,root_path(category_id: category.id) %>
        <% end %>
    <% end %>
  </div>
</h5>
<h3>
  <div class="container">
    <%= @post.body %>
    <hr>
  </div>
</h3>
<div class="container">
  <div class="comments">
    <% @comments.each do |c| %>
      <div>
        <a href="/users/<%= c.user.id %>"><%= c.user.email %></a>
        <%= c.content %>
        <%= c.created_at %>
        <hr>
      </div>
    <% end %>
    
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :content, size: "80x5" %>
      <br>
      <p><%= f.submit '書き込む' %></p>
    <% end %>
    
    <P><%= link_to "ホームへ戻る", posts_path %></P>
  </div>
</div>