@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.header {
  text-align: center;
}

.center {
  text-align: center;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.comments {
  text-align: center;
}

input[type="text"] {
  width: 35%;
  height: 40%;
  text-align: start;
  margin-bottom: 10px;
}

.post-tags-field {
  height: 40%;
  text-align: start;
}

.ui-helper-hidden-accessible {
  display: none;
}

.control-label {
  margin-bottom: 10px;
  height: 40%;
  text-align: start;
}

.form-control {
  margin-bottom: 10px;
  height: 40%;
  text-align: start;
}

.posts {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 1.0em;
  letter-spacing: 0px;
  margin-bottom: 10px;
  font-weight: normal;
}

h5 {
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.7em;
  text-align: center;
}